@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 10px; /* širina scrollbar-a */
  height: 10px; /* visina scrollbar-a (za horizontalne scrollbar-e) */
}

::-webkit-scrollbar-track {
  background: #3c3c3c; /* boja pozadine track-a */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000000; /* boja thumb-a */
  border-radius: 10px;
}
